fastapi==0.110.0
uvicorn[standard]==0.29.0
crewai
openai
langchain
huggingface
transformers
torch
gspread
oauth2client
requests
pydantic
python-dotenv
simpleeval

docx2txt
pymupdf

spacy==3.7.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz

PyPDF2>=3.0.0
python-docx>=0.8.11
